################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/aspnet-core/.vs
/aspnet-core/build
/aspnet-core/docker/mvc
/aspnet-core/Extension.Util/bin/Debug/netcoreapp2.2
/aspnet-core/Extension.Util/obj/Debug/netcoreapp2.2
/aspnet-core/Extension.Util/obj/Release/netcoreapp2.2
/aspnet-core/Extension.Util/obj
/aspnet-core/MVC/bin/Debug/netcoreapp2.2
/aspnet-core/MVC/obj
/aspnet-core/src/TicketCode.Application/bin
/aspnet-core/src/TicketCode.Application/obj
/aspnet-core/src/TicketCode.Core/bin
/aspnet-core/src/TicketCode.Core/obj
/aspnet-core/src/TicketCode.EntityFrameworkCore/bin/Debug/netcoreapp2.2
/aspnet-core/src/TicketCode.EntityFrameworkCore/obj
/aspnet-core/src/TicketCode.Migrator/bin/Debug/netcoreapp2.2
/aspnet-core/src/TicketCode.Migrator/obj/Debug/netcoreapp2.2
/aspnet-core/src/TicketCode.Migrator/obj/Release/netcoreapp2.2
/aspnet-core/src/TicketCode.Migrator/obj
/aspnet-core/src/TicketCode.Web.Core/bin/Debug/netcoreapp2.2
/aspnet-core/src/TicketCode.Web.Core/obj
/aspnet-core/src/TicketCode.Web.Host/bin/Debug/netcoreapp2.2
/aspnet-core/src/TicketCode.Web.Host/obj
/aspnet-core/test/TicketCode.Tests/bin/Debug/netcoreapp2.2
/aspnet-core/test/TicketCode.Tests/obj
/aspnet-core/TickCode.ORM/bin/Debug/netcoreapp2.2
/aspnet-core/TickCode.ORM/obj/Debug/netcoreapp2.2
/aspnet-core/TickCode.ORM/obj/Release/netcoreapp2.2
/aspnet-core/TickCode.ORM/obj
/aspnet-core/TicketCode.Helper/bin
/aspnet-core/TicketCode.Helper/obj/Debug/netcoreapp2.2
/aspnet-core/TicketCode.Helper/obj/Release/netcoreapp2.2
/aspnet-core/TicketCode.Helper/obj
/aspnet-core/WebAPI/obj
/aspnet-core/WebAPI.ORM/obj
/aspnet-core/GiftCard.BLL/bin/Debug/netcoreapp2.2
/aspnet-core/GiftCard.BLL/obj
/aspnet-core/WebAPI/bin/Debug/netcoreapp2.2
/aspnet-core/WebAPI.ORM/bin/Debug/netcoreapp2.2
