@{
    Layout = "~/Views/Shared/_MasterDataList.cshtml";
}

@section ToolMenuBar{
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" id="Create">新增</a>
}

@section SearchCondition{
    <table class="grid">
        <tbody>
            <tr>
                <td width="10%">
                    <label>合同编号&nbsp;</label>
                </td>
                <td align="left">
                    <input type="text" name="RepairContractId" id="RepairContractId" data-ctlname="RepairContractId" class="easyui-textbox" />
                </td>
                <td width="10%">
                    <label>客户编码&nbsp;</label>
                </td>
                <td align="left">
                    <input type="text" name="CustomerId" id="CustomerId" data-ctlname="CustomerId" class="easyui-textbox" />
                </td>
                <td width="10%">
                    <label>客户名称&nbsp;</label>
                </td>
                <td align="left">
                    <input type="text" name="CustomerName" id="CustomerName" data-ctlname="CustomerName" class="easyui-textbox" />
                </td>
            </tr>
        </tbody>
    </table>
}

@section GridColumn{
}

@section Script{
    <script type="text/javascript" src="~/js/ProductEdit.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化网格
            $('#GridList').datagrid({
                url: '/Product/Product/QueryList',
                columns: [[
                    { field: 'name', title: 'Name', width: 100 },
                    { field: 'code', title: 'Code', width: 100 },
                ]]
            });


            $('#Create').click(function () {
                productEdit.addTab("新增商品", "/Product/Product/Edit");
            });







        });

    </script>
}
